alias la="ls -la"
alias ll='ls -alF'
alias lat='ls -lat'

alias fucking='sudo'

alias gbl="git branch --list"
alias glo="git log --oneline"
alias gs="git status"
alias gl="git log"
alias gc="git checkout"

# alias python='python3'
# alias pip='pip3'

# alias server='python -m http.server 8080'

alias simulator='open -a Simulator.app'
