# Copy to root of dotfiles directory as .secrets
# ==================================================================================================

#!/bin/bash

export SONAR_TOKEN=

# buildcom token
export NPM_TOKEN_BUILDCOM=

# fergdigitalcommerce read:package token
export NPM_TOKEN_FERG=

# fergdigitalcommerce full access token
export NPM_TOKEN_FERG_FULL=

export NPM_TOKEN=$NPM_TOKEN_FERG
