# Copy to root of dotfiles directory as .secrets
# ==================================================================================================

#!/bin/bash

export SONAR_TOKEN=

export NPM_TOKEN_PERSONAL_PACKAGE_PUBLISHING=
export NPM_TOKEN_FERG=
export NPM_TOKEN_FERG_FULL=

export NPM_TOKEN=$NPM_TOKEN_FERG
# export NPM_TOKEN=$NPM_TOKEN_FERG_FULL
# export NPM_TOKEN=$NPM_TOKEN_PERSONAL_PACKAGE_PUBLISHING

export JIRA_API_TOKEN=