alias la="ls -laG"
alias ll='ls -alFG'
alias lat='ls -latG'

alias fucking='sudo'

alias gbl="git branch --list"
alias glo="git log --oneline"
alias gs="git status"
alias gl="git log"
alias gc="git checkout"
alias gclean="git clean-branches"

alias jest="./node_modules/.bin/jest"

alias lsof-react="lsof -i :9000 -i :9001 -i :9002 -i :9003"

# alias xcode="open *.xcodeproj"

# alias python='python3'
# alias pip='pip3'

# alias server='python -m http.server 8080'

alias simulator='open -a Simulator.app'
alias startios='react-native run-ios --simulator="iPhone 8 Plus"'
