alias ll='ls -laGFT'
alias llmod='ll -t'

alias fucking='sudo'

alias cdot="code $DOTFILES_DIR/."
alias crbs="code $CODE_DIR/react-build-store/."
alias cnode="code $CODE_DIR/node-store/."
alias cfwp="code $CODE_DIR/fergy-web-platform/."

alias cddot="cd $DOTFILES_DIR/"
alias cdrbs="cd $CODE_DIR/react-build-store/"
alias cdnode="cd $CODE_DIR/node-store/"
alias cdfwp="cd $CODE_DIR/fergy-web-platform/"

alias gbl="git branch --list"
alias glo="git log --oneline"
alias gs="git status"
alias gl="git log"
alias gc="git checkout"
alias gclean="git clean-branches"

# Usage: tree 3
alias tree='tree -LCF'

alias bashclean="env -i bash --norc --noprofile"

alias jest="./node_modules/.bin/jest"

alias lsof-react="lsof -i :9000 -i :9001 -i :9002 -i :9003"

# alias xcode="open *.xcodeproj"

# alias python='python3'
# alias pip='pip3'

# alias server='python -m http.server 8080'

alias simulator='open -a Simulator.app'
alias startios='react-native run-ios --simulator="iPhone 8 Plus"'
