alias ll='ls -laGFT'
alias llmod='ll -t'

alias fuck='sudo $(history -p !!)'
alias fuckingplease='sudo "$BASH" -c "$(history -p !!)"'

alias cdot="code $DOTFILES_DIR/."
alias crbs="code $CODE_DIR/react-build-store/."
alias crbs2="code $CODE_DIR/react-build-store-alt/."
alias cnode="code $CODE_DIR/node-store/."
alias cfwp="code $CODE_DIR/fergy-web-platform/."
alias crfs="code $CODE_DIR/react-ferg-store/."

alias cddot="cd $DOTFILES_DIR/"
alias cdrbs="cd $CODE_DIR/react-build-store/"
alias cdrbs2="cd $CODE_DIR/react-build-store-alt/"
alias cdnode="cd $CODE_DIR/node-store/"
alias cdfwp="cd $CODE_DIR/fergy-web-platform/"
alias cdrfs="cd $CODE_DIR/react-ferg-store/"

alias gbl="git branch --list"
alias glo="git log --oneline"
alias glg="git log --graph --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%an%C(reset)%C(bold yellow)%d%C(reset) %C(dim white)- %s%C(reset)' --all
"
alias gs="git status"
alias gl="git log"
alias gc="git checkout"
alias gclean="git clean-branches"

# Usage: tree 3
alias tree='tree -LCF'

alias bashclean="env -i bash --norc --noprofile"

alias lsof-react="lsof -i :9000 -i :9001 -i :9002 -i :9003 -i :4000 -i :3000"
alias killnode="killall node"
alias killjava="killall java"

# alias xcode="open *.xcodeproj"

# alias python='python3'
# alias pip='pip3'

# alias server='python -m http.server 8080'

alias simulator='open -a Simulator.app'
alias startios='react-native run-ios --simulator="iPhone 8 Plus"'

alias typegen='npm run generate-graphql-types'
alias startns='fixnode; npm start -- --sites=build'
alias fixnode='test -f .nvmrc && nvm use'
alias disablehusky='git config --unset core.hooksPath'
alias enablehusky='git config core.hooksPath .husky'