[user]
	name = Lisa-Dean-ABB2175_ferg
	email = lisa.dean@supply.com
[color]
	ui = auto
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[pull]
	rebase = false
[url "git@github.com:"]
    insteadOf = https://github.com/
[url "git@FergDigitalCommerce:FergDigitalCommerce"]
    insteadOf = git@github.com:FergDigitalCommerce
		insteadOf = https://github.com/FergDigitalCommerce
    # insteadOf = git@github.com:buildcom
		# insteadOf = https://github.com/buildcom
