[user]
	name = Lisa Dean
	email = lisa@lisadean.net
[color]
	ui = auto
[core]
	excludesfile = /Users/abb2175/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
	templatedir = ~/dotfiles/.git-templates
[pull]
	rebase = false
[url "git@github.com:"]
    insteadOf = https://github.com/
[url "git@FergDigitalCommerce:FergDigitalCommerce"]
    insteadOf = git@github.com:FergDigitalCommerce
		insteadOf = https://github.com/FergDigitalCommerce
    insteadOf = git@github.com:buildcom
		insteadOf = https://github.com/buildcom
