# //npm.pkg.github.com/:_authToken=${NPM_TOKEN_BUILDCOM}
//npm.pkg.github.com/:_authToken=${NPM_TOKEN_FERG}
# //npm.pkg.github.com/:_authToken=${NPM_TOKEN_FERG_FULL}
@buildcom:registry=https://npm.pkg.github.com
@fergdigitalcommerce:registry=https://npm.pkg.github.com
